
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
    <footer th:fragment="footer" class="bg-dark text-white text-center py-3 mt-auto footer">
  <style>
   .footer {
            background-color: #0414AF;
            color: white;
            width: 100%;
        }
        .footer .container {
            margin: 0 auto;
            padding: 0 15px;
        }
        .footer p {
            margin: 0px 0;
            font-size: 14px;
        }
        .footer a {
            color: #FFD700;
            transition: color 0.3s;
        }
        .footer a:hover {
            color: #ADD8E6;
        }
  </style>
        <div class="container">
            <p> Web App designed and developed by <a href="mailto:xabubakarzx@gmail.com">Al-Khadeem Abubakar</a> assisted by <a href="mailto:maycee.toribio@gmail.com"> Maycee Jade Toribio </a></p>
            <p class="mb-0">An Internship project for Lenin Computer Systems, Inc.</p>
        </div>
    </footer>
</body>
</html>
