<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lenin Job Order Web</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
        <link href="/css/styles.css" rel="stylesheet">
        <style>
            html, body {
                height: 100%;
                margin: 0;
                display: flex;
                flex-direction: column;
            }
            .container {
                flex: 1;
            }
            .btn-custom {
                font-size: 1.5rem;
                height: 90px; /* Increased height */
                padding: 30px 60px; /* Adjusted padding for better appearance */
            }
            .btn-warning .fa-rocket {
                color: white;
            }
            .btn-warning .fa-eye {
                color: white;
            }
        </style>
    </head>
    <body>
        <div th:insert="~{fragments/header}"></div>
        <div class="container text-center mt-5">
            <h1 class="mb-5">Lenin Job Order Web</h1>
            <div class="row">
<!--                 Deployment button, accessible to SOLUTIONS and ADMIN users -->
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <button class="btn btn-primary btn-lg btn-block shadow-lg btn-custom" onclick="location.href='/deployment'">
                        <i class="fas fa-rocket"></i> Deployment
                    </button>
                </div>
<!--                 Release button, accessible to SOLUTIONS and ADMIN users -->
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <button class="btn btn-success btn-lg btn-block shadow-lg btn-custom" onclick="location.href='/releasing'">
                        <i class="fas fa-check-circle"></i> Release
                    </button>
                </div>
<!--                 View Job Orders button, accessible only to ADMIN users -->
                <div class="col-12 col-md-6 col-lg-4 mb-3" th:if="${userRole == 'ADMIN'}">
                    <button class="btn btn-warning btn-lg btn-block shadow-lg btn-custom" onclick="location.href='/view'">
                        <i class="fas fa-eye"></i> View Job Orders
                    </button>
                </div>
            </div>
            <div class="row justify-content-center">
<!--                 Solutions Config button, accessible only to ADMIN users -->
                <div class="col-12 col-md-6 col-lg-4 mb-3" th:if="${userRole == 'ADMIN'}">
                    <button class="btn btn-secondary btn-lg btn-block shadow-lg btn-custom" onclick="location.href='/job-order-form'">
                        <i class="fas fa-cogs"></i> Create Job Order
                    </button>
                </div>
<!--                 Admin Config button, accessible only to ADMIN users -->
                <div class="col-12 col-md-6 col-lg-4 mb-3" th:if="${userRole == 'ADMIN'}">
                    <button class="btn btn-info btn-lg btn-block shadow-lg btn-custom" onclick="location.href='/admin-config'">
                        <i class="fas fa-user-cog"></i> Admin Config
                    </button>
                </div>
<!--                 Create User button, accessible only to ADMIN users -->
                <div class="col-12 col-md-6 col-lg-4 mb-3" th:if="${userRole == 'ADMIN'}">
                    <button class="btn btn-dark btn-lg btn-block shadow-lg btn-custom" onclick="location.href='/create-user'">
                        <i class="fas fa-user-cog"></i> Create User
                    </button>
                </div>
            </div>
        </div>
        <div th:insert="~{fragments/footer}"></div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>




